#path-name {
    color: white;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 18px;
}

.breadcrumb-item {
    margin-right: 10px;

    text-decoration: none;
}

.breadcrumb-item:last-child {
    font-weight: bold;
}

.breadcrumb-item:not(:last-child):after {
    content: '>';
    margin-left: 10px;
    color: #777;
}